<!DOCTYPE html>
<html lang="en" ng-app='canyoncc'>

<head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Canyon Counseling Center</title>
    <meta name="description" content="pyschotherapist">
    <meta name="keywords" content="psychotherapy">
    <meta name="author" content="Mark Perkins">

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">

    <!-- Slider
    ================================================== -->
    <link href="css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/responsive.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
        rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400'
        rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-controller='mainCtrl'>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="index.html">
                    <!--<img src="img/logo.png" />-->
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <!--<li><a href="#tf-home" class="page-scroll">Home</a></li>-->
                    <li><a href="#tf-about" class="page-scroll">About</a></li>
                    <li><a href="#tf-team" class="page-scroll">Therapists</a></li>
                    <li><a href="#tf-forms" class="page-scroll">Forms & Policies</a></li>
                    <li><a href="#tf-contact" class="page-scroll">Contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div class="content">
                <div class="logo">
                    <img src="img/logo.png" />
                </div>
                <p class="lead">Growth through spirituality and psychology</p>
                <a href="#tf-about" class="fa fa-angle-down page-scroll"></a>
            </div>
        </div>
    </div>

    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About</h4>
                            <h2>CANYON COUNSELING CENTER</h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">At Canyon Counseling Center, we provide professional and personalized counseling services. We seek
                            growth and progression with each patient by applying psychological principles that are grounded
                            in spiritual values. Our common belief is that God helps people in their healing. We work hard
                            to create an environment that is safe and supportive - where a strong healthy relationship between
                            the therapist and the patient can promote healing, peace and positive change. </p>
                        <p class="intro">The initial visit begins with a discussion about your rights to confidentiality, a brief review of
                            the patient/therapist relationship, the patient’s historical background, and a discussion of
                            their expectations and objectives in therapy. This first session is also an assessment of a “good
                            fit” between the patient and the therapist, both in professional and personal compatibility.
                            Thereafter, therapy is responsive to the individual’s needs and is a living process. Success
                            is individualized and is manifest in many ways. It can mean that the patient has resolved a specific
                            problem or in a broader sense, success can be that he or she is able to find an internal sense
                            of peace and able to confront issues from a stable foundation. </p>
                        <p class="intro">Canyon Counseling Center strongly believes in the highest professional standards. Each therapist
                            has received training from reputable and well-known universities and has many years of specialized
                            experience. Qualitatively, our therapists are compassionate, ethical, and chosen in part because
                            of their theistic, person-centered approach.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="flex-col flex-stretch">
        <div class="flex-col flex-stretch overlay">
            <div class="flex-col flex-stretch">
                <div class="section-title" ng-click="deselectTherapist()">
                    <h2>Therapists</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <span class="team-cursor" ng-show="showBiography" ng-click="deselectTherapist()"> < Show all therapists</span>

                <div class="flex-row flex-stretch team team-cursor" ng-show="!showBiography">
                    <div class="flex-col item" ng-repeat="therapist in therapists">
                        <div class="flex-col thumbnail" ng-click="selectTherapist(therapist)">
                            <img ng-src="{{therapist.imgUrl}}" alt="..." class="img-circle team-img">
                            <div class="flex-col caption">
                                <h3>{{therapist.name}}</h3>
                                <p>{{therapist.abbreviated}}</p>
                                <span>Read more...</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex-col flex-stretch" ng-show="showBiography" ng-class="showBiography ? 'biography' : ''">
                    <div class="flex-row title">
                        <img ng-src="{{selected.imgUrl}}" alt="..." class="img-circle therapist-img">
                        <h2>{{selected.name}}</h2>
                    </div>
                    <div class="flex-col">
                        <div class="bio">
                            <p>{{selected.bio1}}</p>
                            <p>{{selected.bio2}}</p>
                            <p>{{selected.bio3}}</p>
                            <span class="conditions">{{selected.exceptions}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Forms & Policies Section
    ==========================================-->

    <div id="tf-forms" class="flex-col flex-stretch">
        <div class="flex-row title">
            <img src="img/form-icon.png" alt="..." class="img-circle therapist-img">
            <h2>Forms & Policies</h2>
        </div>
        <div class="flex-row flex-stretch text-whole">
            <div class="flex-col">
                <div class="left-text">
                    <p class="section-head">Forms for first time clients</p>
                    <p>
                        If you are a first time client, please consider printing out the following form and bringing the completed copy with you to your initial visit.
                    </p>
                    <a href="pdf/canyon_counseling_first_time_documents.pdf" class="team-cursor">Canyon Counseling First-time form</a>

                    <p class="section-head">About Therapy</p>
                    <p>
                        There is a real possibility that you may feel worse at-times in therapy than when you started. This is because you may have
                        to address some uncomfortable and painful issues. This is normal and should be anticipated. The length
                        of therapy is determined by you. The amount of work that you are willing to do determines the speed
                        and direction of your therapy. Your therapist will make recommendations for continued service, but
                        feel free to give your input as-well.
                    </p>
                    <p class="section-head">Limits to Confidentiality</p>
                    <p>
                        Although confidence is very strict in therapy, there are some occasions when confidentiality must be broken:
                        <ul>
                            <li>If there is ongoing child abuse. This includes physical, emotional and/or sexual abuse. </li>
                            <li>If you are or become suicidal, or you pose a threat to the safety of another. We are required
                                to protect you, notify the authorities, and warn whomever may be in-danger.</li>
                            <li>If you are ever in a court of law and use your mental status as a factor in your case. Your notes
                                may be subpoenaed by the court and we are required to provide all requested information.</li>
                            <li>Without going into extreme details, third-party providers are entitled to know diagnoses, treatment,
                                and/or prognoses.</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="flex-col">
                <div class="right-text">
                    <p class="section-head">Appointments</p>
                    <p>
                        Sessions are 45-55 minutes in length, beginning 10-15 minutes after the hour. The therapists at Canyon Counseling Center
                        try to see their clients promptly at the appointment time scheduled. They request that you also be
                        responsible for keeping appointments on time. If you are late, your sessions will be shortened. <strong>Please
                        do not bring young children to therapy. In case of appointments not kept or canceled with less than
                        24 hours notices, you will be charged in-full for that session.</strong> Insurance and other third-party
                        providers do not cover missed session charges. (Emergency exceptions made).
                    </p>
                    <p class="section-head">Insurance Billing</p>
                    <p>
                        <!--As a professional courtesy to you, our office will bill your insurance company, where appropriate, on a weekly basis. We request that you pay a minimum $20.00 co-pay at the time of your session. We would greatly appreciate
                        your keeping current with your co-payments. If you do not have insurance, a payment schedule will
                        be arranged with you on your initial visit.-->
                        We only bill for the following insurances:  DMBA, EMI, Blue Cross.  If your insurance is not listed, we will gladly provide you with all documentation to allow you to be reimbursed by your insurance if you have a mental health benefit.
                    </p>
                    <p class="section-head">Court Appearances</p>
                    <p>
                        Due to our heavy clinical schedules, and as a matter of policy, we do not testify in civil or criminal court proceedings.
                        We will, however, supply the court and/or attorneys with a written summary of therapy if the client
                        should so-desire. A signed release of information is required for each summary to be supplied.

                    </p>
                    <p class="section-head">Phone Calls</p>
                    <p>
                        Therapists will try to return phone calls as quickly as possible. Because the therapists have limited time between sessions,
                        please be aware that calls may be returned at the end of the day or the following day. Issues that
                        require more than 10 minutes on the phone may require a scheduled office visit.
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Contact Section
    ==========================================-->

    <div id="tf-contact" class="flex-col flex-stretch">
        <div class="overlay">
            <div class="flex-row title">
                <img src="img/contact.png" alt="..." class="img-circle therapist-img">
                <h2>Contact Information & Hours</h2>
            </div>
            <div class="flex-row flex-stretch double">
                <div class="flex-col">
                    <div class="left-text">
                        <p class="section-head">For all inquiries or to schedule an appointment</p>
                        <p>
                            Please contact us at <strong>(801) 356-0014</strong>
                        </p>
                        <p class="section-head">Office Hours</p>
                        <div class="flex-col flex-stretch">
                            <div class="flex-row hours">
                                <div class="flex-col days">
                                    <span>Monday</span>
                                    <span>Tuesday</span>
                                    <span>Wednesday</span>
                                    <span>Thursday</span>
                                    <span>Friday</span>
                                </div>
                                <div class="flex-col">
                                    <span>9am - 5pm</span>
                                    <span>9am - 7pm</span>
                                    <span>9am - 4pm</span>
                                    <span>9am - 7pm</span>
                                    <span>9am - 12pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-col">
                    <div class="right-text">
                        <p class="section-head">Location</p>
                        <p>
                            3651 North 100 East Suite 100, Provo, Utah, 84604
                        </p>
                        <iframe class="google-maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3043.728716989901!2d-111.65929468388084!3d40.28177607175857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874d907b086c5d15%3A0x3e5a6e31d0fd1709!2sCanyon+Counseling+Center%2C+Inc.!5e0!3m2!1sen!2sus!4v1489305890500"
                            frameborder="0" style="border:0" allowfullscreen></iframe>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2017. Canyon Counseling Center, LLC</p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="https://www.facebook.com/pages/Canyon-Counseling-Center/103739013024738"><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js'></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.1.11.1.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/SmoothScroll.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.js"></script>

    <script src="js/owl.carousel.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="app/app.js"></script>
    <script type="text/javascript" src="app/mainCtrl.js"></script>

</body>

</html>